.contacts-container {
  background: #343434;
  color: white;
  width: 23rem;
  border-radius: 1rem;
  margin: 5rem auto;
  border: 3px solid #4d4d4d;
  font-family: sans-serif;
  box-shadow: 2px 0 5px black;
}

header {
  font-size: 1.3rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
}

li {
  cursor: pointer;
  border-top: 2px solid #1a1a1a;
  border-bottom: 2px solid #1a1a1a;
  display: grid;
  grid-template-columns: 37% 1fr;
}

li:nth-child(even) {
  background: #212121;
}

.circle {
  width: 0.75rem;
  height: 0.75rem;
  background: #50fd1f;
  margin-right: 1.15rem;
  border-radius: 50%;
}

.active {
  background: #50fd1f;
}

.away {
  background: #ef040c;
}

.busy {
  background: #c1c212;
}

.name-status-container {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-right: 1px solid #1c1c1c;
}

.contact-info {
  opacity: 0.3;
  align-self: center;
  margin-left: 1rem;
  font-size: 1.1rem;
}

footer {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: right;
  height: 3.9rem;
  box-shadow: black 0px -2px 50px;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

select {
  border-radius: 0.3rem;
  padding: 0.1rem;
  padding-right: 0.8rem;
}

.phone-email-container {
  position: relative;
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  top: 0;
  background: #484848;
  position: absolute;
  width: 100%;
  height: 290%;
  padding: 1rem;
}

a {
  color: #389298;
}
